<container-layout>
    <div class="w-auto md:w-3xl lg:w-4xl xl:w-3xl mx-auto">
        <div class="block w-full md:w-5/5">
            <dashboard-logo></dashboard-logo>
        </div>

        <div class="flex items-center mt-5">
            <div>
                <back-button></back-button>
            </div>

            <div class="text-base md:text-xl pl-3 text-neutral-700 !leading-normal">
                Save as voice what you get today
            </div>
        </div>
    
        <div class="block mt-8">
            <div class="mb-5 text-xl md:text-3xl newsreader-font">
                Before you start recording, make sure the current location where you are sitting supports it.
            </div>
            <audio-recorder (onRecordEnd)="onRecordEnd($event)"></audio-recorder>
        </div>
    </div>

    <div class="pt-7 pb-5 lg:mt-auto text-center text-neutral-700">
        &copy; 2025 what did you learn today (wdylt)
    </div>
</container-layout>