<section class="lg:h-full lg:flex flex-col px-8 py-12">
    <div class="w-auto lg:w-4xl xl:w-3xl mx-auto">
        <div class="block w-full md:w-5/5">
            <dashboard-logo></dashboard-logo>
        </div>

        <div class="flex items-center mt-5">
            <div>
                <back-button></back-button>
            </div>

            <div class="text-base md:text-xl pl-3 text-neutral-700 !leading-normal">
                Save as voice what you get today
            </div>
        </div>
    
        <div class="block mt-8">
            <div class="block md:flex">
                <div>
                    <audio-recorder></audio-recorder>
                </div>

                <div class="mt-5 md:mt-0 md:pl-6 text-lg md:text-3xl newsreader-font">
                    Before you start recording, make sure the current location where you are sitting supports it.
                </div>
            </div>
        </div>
    </div>

    <div class="pt-7 pb-5 lg:mt-auto text-center text-neutral-700">
        &copy; 2025 what did you learn today (wdylt)
    </div>
</section>