<div class="p-6">
    <div class="text-center text-2xl">Are want to delete this item?</div>
    <div class="grid grid-cols-2 gap-3 mt-5">
        <button mat-stroked-button class="flex items-center" (click)="onDialogClose('cancel')">
            <mat-icon fontIcon="close"></mat-icon>
            <span>Cancel</span>
        </button>

        <button mat-stroked-button class="flex items-center" (click)="onDialogClose('confirm')">
            <mat-icon fontIcon="delete"></mat-icon>
            <span>Delete</span>
        </button>
    </div>
</div>