@if (learns$ | async; as learns) {
    @if(learns.status == 'success') {
        @for(item of learns.data; track item.id; let isLast=$last) {
            <div class="mb-6">
                @if (item.mimeType == 'text' || item.mimeType == undefined) {
                    <content-text [content]="item" [isLast]="isLast" (onDelete)="onDeleteHandler($event)"></content-text>
                } @else {
                    <content-audio [content]="item" [isLast]="isLast" (onDelete)="onDeleteHandler($event)"></content-audio>
                }
            </div>
        }

        @if (learns.data.length <= 0) {
            <div class="bg-yellow-100 text-center text-yellow-700 shadow-sm py-3 px-5 rounded-lg">No data on this time.</div>
        }
    } @else if (learns.status == 'loading') {
        <div class="w-12 h-12 mx-auto flex items-center justify-center">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
    } @else {
        <div class="bg-rose-100 text-center text-rose-700 shadow-sm py-3 px-5 rounded-lg">Something wrong please refresh the page.</div>
    }
}