<div class="block">
    <mat-card>
        <mat-card-header class="mb-3">
            <mat-card-subtitle>
                {{ this.content.createAt | date: 'short' }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="newsreader-font text-xl ck-content" [innerHTML]="presentHTMLContent(this.content.content)"></div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="flex items-center">
                <mat-icon fontIcon="delete"></mat-icon>
                <span>Delete</span>
            </button>

            <button mat-button class="flex items-center">
                <mat-icon fontIcon="edit_note"></mat-icon>
                <span>Edit</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>